In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
hh_data = pd.read_csv('data/dst-3.0_16_1_hh_database.csv', sep=';')
hh_data.head()

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
0,"Мужчина , 39 лет , родился 27 ноября 1979",29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,Неоконченное высшее образование 2000 Балтийск...,16.04.2019 15:59,Имеется собственный автомобиль
1,"Мужчина , 60 лет , родился 20 марта 1959",40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",Высшее образование 1981 Военно-космическая ак...,12.04.2019 08:42,Не указано
2,"Женщина , 36 лет , родилась 12 августа 1982",20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,Среднее специальное образование 2002 Профессио...,16.04.2019 08:35,Не указано
3,"Мужчина , 38 лет , родился 25 июня 1980",100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,Высшее образование 2002 Саратовский государст...,08.04.2019 14:23,Не указано
4,"Женщина , 26 лет , родилась 3 марта 1993",140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,Высшее образование 2015 Кгу Психологии и педаг...,22.04.2019 10:32,Не указано

In [3]:
hh_data.shape

(44744, 12)

In [4]:
hh_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44744 entries, 0 to 44743
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Пол, возраст                     44744 non-null  object
 1   ЗП                               44744 non-null  object
 2   Ищет работу на должность:        44744 non-null  object
 3   Город, переезд, командировки     44744 non-null  object
 4   Занятость                        44744 non-null  object
 5   График                           44744 non-null  object
 6   Опыт работы                      44576 non-null  object
 7   Последнее/нынешнее место работы  44743 non-null  object
 8   Последняя/нынешняя должность     44742 non-null  object
 9   Образование и ВУЗ                44744 non-null  object
 10  Обновление резюме                44744 non-null  object
 11  Авто                             44744 non-null  object
dtypes: object(12)
memory usage: 4.1+ MB

In [5]:
hh_data.isnull()

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
44739,False,False,False,False,False,False,False,False,False,False,False,False
44740,False,False,False,False,False,False,False,False,False,False,False,False
44741,False,False,False,False,False,False,False,False,False,False,False,False
44742,False,False,False,False,False,False,False,False,False,False,False,False
44743,False,False,False,False,False,False,False,False,False,False,False,False

In [6]:
hh_data.head(1)

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
0,"Мужчина , 39 лет , родился 27 ноября 1979",29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,Неоконченное высшее образование 2000 Балтийск...,16.04.2019 15:59,Имеется собственный автомобиль

In [7]:

# Функция заменят в столбце Образование и ВУЗ, значение на ТОЛЬКО ОБРАЗОВАНИЕ, и создает новый столбец со значениями.


def get_education(level):
  
  education = ['Высшее', 'Неоконченное высшее', 'Среднее специальное', 'Среднее'] # Создаем список с уровнем образования
  education_new = ' '.join(level.split(' ')[:3]) # разбиваем значение признака "Образование и ВУЗ" на список слов
  
  if 'Высшее' in education_new:
    return education[0]
  elif 'Неоконченное высшее' in education_new:
    return education[1]
  elif 'специальное' in education_new:
    return education[2]
  elif 'Среднее' in education_new:
    return education[3]
  
  


# Функция выделяет из столбца "пол, возраст", возраст соискателя.
def gender (arg):
  if 'Мужчина'in arg:
    return 'М'
  else:
    return 'Ж'
  
  
  
def Age(arg):
    arg_splitted = arg.split(' ')
    year=['год', 'года', 'лет']
    for index, item in enumerate (arg_splitted):
        if item in year:
            return int(arg_splitted[index-1])
          
hh_data['Образование'] = hh_data['Образование и ВУЗ'].apply(get_education) # Новый стобец "Образование"
print(hh_data['Образование'].value_counts()) # Узнаем ответ на вопрос "Сколько соискателей имеет средний уровень образования (школьное образование)?"
hh_data['Возраст'] = hh_data['Пол, возраст'].apply(Age)
hh_data['Пол'] =  hh_data['Пол, возраст'].apply(gender)
hh_data = hh_data.drop('Образование и ВУЗ', axis= 1) # Удаляем столбец 'Образование и ВУЗ'
hh_data = hh_data.drop('Пол, возраст', axis= 1)
mean_age = (round(hh_data['Возраст'].mean(), 1))
woman = (round(hh_data['Пол'].value_counts(normalize=True)['Ж'] * 100, 2))
print(f'Сколько процентов женских резюме представлено в наших данных? Ответ округлите до сотых. Ответ: {woman}')
print(f'Чему равен средний возраст соискателей? Ответ округлите до десятых. Ответ {mean_age}')
hh_data.head()

# 3.2
#hh_data[]

Высшее                 33863
Среднее специальное     5765
Неоконченное высшее     4557
Среднее                  559
Name: Образование, dtype: int64
Сколько процентов женских резюме представлено в наших данных? Ответ округлите до сотых. Ответ: 19.07
Чему равен средний возраст соискателей? Ответ округлите до десятых. Ответ 32.2

,ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Возраст,Пол
0,29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,Неоконченное высшее,39,М
1,40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 08:42,Не указано,Высшее,60,М
2,20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,16.04.2019 08:35,Не указано,Среднее специальное,36,Ж
3,100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,08.04.2019 14:23,Не указано,Высшее,38,М
4,140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,22.04.2019 10:32,Не указано,Высшее,26,Ж

In [39]:
#hh_data['Опыт работы'].unique()

In [60]:
def get_exp(arg):
    month_words = ['месяц', 'месяца', 'месяцев']
    year_words = ['год', 'года', 'лет']
    m_count = 0
    y_count = 0
    if arg is np.NaN:
        return np.NaN
    if arg == 'Не указано':
        return np.NaN
    sep_arg = list(arg.split())
    for i in range(6):
        if sep_arg[i] in year_words:
            y_count = int(sep_arg[i-1])
        elif sep_arg[i] in month_words:
            m_count = int(sep_arg[i-1])
            return int(y_count*12+m_count)
        
hh_data['Опыт работы (месяц)'] = hh_data['Опыт работы'].apply(get_exp)
hh_data=hh_data.drop('Опыт работы', axis=1)
month_median = hh_data['Опыт работы (месяцев)'].median()
print(f'Чему равен медианный опыт работы (в месяцах) в нашей таблице? Ответ : {month_median}')

,ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Возраст,Пол,Опыт работы (месяцев)
0,29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...","МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,Неоконченное высшее,39,М,202.0
1,40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 08:42,Не указано,Высшее,60,М,233.0
2,20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,ПАО Сбербанк,Кассир-операционист,16.04.2019 08:35,Не указано,Среднее специальное,36,Ж,123.0
3,100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",OpenSoft,Инженер-программист,08.04.2019 14:23,Не указано,Высшее,38,М,225.0
4,140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Мармелад,Менеджер по продажам,22.04.2019 10:32,Не указано,Высшее,26,Ж,67.0

In [61]:
hh_data['Опыт работы (месяцев)'].median()

100.0

array([202., 233., 123., 225.,  67., 117., 273.,  47., 105., 198., 137.,
       510., 162.,  83.,  17.,  46., 109., 189., 114., 143.,  59.,  68.,
       160., 138., 147., 111., 237., 178., 112.,  98., 101.,  64.,  61.,
        87.,  20., 268.,  63., 194., 126., 325., 141.,  74.,  30.,  56.,
       207.,  38., 303.,  nan,  65., 149., 206.,  73.,  33.,  92.,  86.,
        80.,  35., 174.,  13.,  93., 115.,  29., 154., 128.,  79.,  23.,
       107., 200., 157., 186., 172.,  10., 125.,  14., 102., 209., 148.,
        25., 104.,  51.,  78.,   6., 165., 170., 219., 133.,  21.,  99.,
       296., 130.,  66.,  42.,  62., 173.,  70., 295.,  40., 153., 122.,
        89., 175., 185.,  28., 507., 127.,   3.,  69.,  11.,  19.,  41.,
         9., 267., 166.,  15., 135.,  77.,  85., 227.,  50., 145., 218.,
        45., 134.,  75., 221., 199., 142.,  54., 255.,  81., 254., 121.,
       179., 212.,  90.,  88.,  22., 188.,  31.,  55., 177., 183., 469.,
       161., 182., 401.,   4.,  91.,  95., 203., 129., 100., 163., 211.,
        49.,  57., 176., 103., 235., 330., 146., 131.,  58.,  44., 155.,
         8.,  71., 292., 139., 136.,  16.,   7.,  27., 195., 124.,  53.,
       229., 232.,   2.,  32., 265.,  76.,  97., 438., 140., 253.,  82.,
       242., 113., 259.,   5., 152., 116.,  52., 208., 158., 213., 241.,
       106., 119.,  34.,  26., 169., 110., 282., 417., 159., 261., 258.,
       389., 370., 287.,   1., 118., 197., 334., 245., 201., 210., 215.,
       262., 321., 247.,  37., 238., 234., 442., 377.,  18., 246., 184.,
       283., 251., 317., 298., 302., 224.,  94., 357., 191.,  43., 196.,
       299., 358., 193., 270., 164., 455., 223., 256., 281., 402., 187.,
       452., 307., 284., 214., 250., 243., 190., 304., 322., 257., 280.,
       171., 226., 301., 239., 230., 345., 306., 497., 275., 340., 167.,
       151., 369., 293.,  39., 399., 277., 150., 236., 439., 382., 205.,
       220., 421., 266., 314., 359., 309., 425., 313., 249., 495., 310.,
       400., 231., 347., 260., 181., 423., 308., 429., 279., 315., 248.,
       411., 338., 297., 363., 272., 383., 222., 373., 482., 388., 352.,
       380., 366., 291., 333., 329., 263., 294., 362., 343., 461., 350.,
       311., 446., 332., 367., 285., 454., 447., 341., 407., 392., 244.,
       217., 663., 403., 517., 289., 374., 316., 424., 274., 290., 337.,
       305., 269., 414., 467., 356., 390., 355., 271., 394., 418., 443.,
       437., 496., 335., 346., 546., 457., 412., 344., 393., 342., 323.,
       410., 365., 406., 351., 278., 458., 331., 415., 319., 385., 395.,
       327., 479., 375., 379., 537., 422., 364., 286., 349., 409., 386.,
       448., 498., 476., 404., 354., 653., 451., 567., 371., 459., 562.,
       431., 483., 490., 435., 441., 436., 328., 320., 381., 353., 397.,
       450., 473., 463., 368., 318., 326., 460., 502., 339., 543., 475.,
       378., 416., 428., 493., 449., 426., 470., 569., 427., 488., 361.,
       530., 466., 472., 526., 556., 489., 398., 413., 506., 478., 485.,
       430., 549., 376., 586., 387., 484., 500., 405., 453., 508., 433.,
       477., 419., 518., 494., 545., 481., 391., 579., 520., 462., 487.,
       499., 434., 622.])