In [451]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [452]:
hh_data = pd.read_csv('data/dst-3.0_16_1_hh_database.csv', sep=';')
hh_data.head()#

MemoryError:

In [ ]:
hh_data.shape

(44744, 12)

In [ ]:
hh_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44744 entries, 0 to 44743
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Пол, возраст                     44744 non-null  object
 1   ЗП                               44744 non-null  object
 2   Ищет работу на должность:        44744 non-null  object
 3   Город, переезд, командировки     44744 non-null  object
 4   Занятость                        44744 non-null  object
 5   График                           44744 non-null  object
 6   Опыт работы                      44576 non-null  object
 7   Последнее/нынешнее место работы  44743 non-null  object
 8   Последняя/нынешняя должность     44742 non-null  object
 9   Образование и ВУЗ                44744 non-null  object
 10  Обновление резюме                44744 non-null  object
 11  Авто                             44744 non-null  object
dtypes: object(12)
memory usage: 4.1+ MB

In [ ]:
hh_data.isnull()

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
44739,False,False,False,False,False,False,False,False,False,False,False,False
44740,False,False,False,False,False,False,False,False,False,False,False,False
44741,False,False,False,False,False,False,False,False,False,False,False,False
44742,False,False,False,False,False,False,False,False,False,False,False,False
44743,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
hh_data.head(1)

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
0,"Мужчина , 39 лет , родился 27 ноября 1979",29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,Неоконченное высшее образование 2000 Балтийск...,16.04.2019 15:59,Имеется собственный автомобиль

In [ ]:

# Функция заменят в столбце Образование и ВУЗ, значение на ТОЛЬКО ОБРАЗОВАНИЕ, и создает новый столбец со значениями.


def get_education(level):
  
  education = ['Высшее', 'Неоконченное высшее', 'Среднее специальное', 'Среднее'] # Создаем список с уровнем образования
  education_new = ' '.join(level.split(' ')[:3]) # разбиваем значение признака "Образование и ВУЗ" на список слов
  
  if 'Высшее' in education_new:
    return education[0]
  elif 'Неоконченное высшее' in education_new:
    return education[1]
  elif 'специальное' in education_new:
    return education[2]
  elif 'Среднее' in education_new:
    return education[3]
  
  


# Функция выделяет из столбца "пол, возраст", возраст соискателя.
def Age(arg):
    arg_splitted = arg.split(' ')
    year=['год', 'года', 'лет']
    for index, item in enumerate (arg_splitted):
        if item in year:
            return int(arg_splitted[index-1])
          
hh_data['Образование'] = hh_data['Образование и ВУЗ'].apply(get_education) # Новый стобец "Образование"
print(hh_data['Образование'].value_counts()) # Узнаем ответ на вопрос "Сколько соискателей имеет средний уровень образования (школьное образование)?"
hh_data['Возраст'] = hh_data['Пол, возраст'].apply(Age)
hh_data = hh_data.drop('Образование и ВУЗ', axis= 1) # Удаляем столбец 'Образование и ВУЗ'
hh_data = hh_data.drop('Пол, возраст', axis= 1)
hh_data.head()

Высшее                 33863
Среднее специальное     5765
Неоконченное высшее     4557
Среднее                  559
Name: Образование, dtype: int64

,ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Возраст
0,29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,Неоконченное высшее,39
1,40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 08:42,Не указано,Высшее,60
2,20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,16.04.2019 08:35,Не указано,Среднее специальное,36
3,100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,08.04.2019 14:23,Не указано,Высшее,38
4,140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,22.04.2019 10:32,Не указано,Высшее,26