In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
hh_data = pd.read_csv('data/dst-3.0_16_1_hh_database.csv', sep=';')
hh_data.head()

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
0,"Мужчина , 39 лет , родился 27 ноября 1979",29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,Неоконченное высшее образование 2000 Балтийск...,16.04.2019 15:59,Имеется собственный автомобиль
1,"Мужчина , 60 лет , родился 20 марта 1959",40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",Высшее образование 1981 Военно-космическая ак...,12.04.2019 08:42,Не указано
2,"Женщина , 36 лет , родилась 12 августа 1982",20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,Среднее специальное образование 2002 Профессио...,16.04.2019 08:35,Не указано
3,"Мужчина , 38 лет , родился 25 июня 1980",100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,Высшее образование 2002 Саратовский государст...,08.04.2019 14:23,Не указано
4,"Женщина , 26 лет , родилась 3 марта 1993",140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,Высшее образование 2015 Кгу Психологии и педаг...,22.04.2019 10:32,Не указано

In [3]:
hh_data.shape

(44744, 12)

In [4]:
hh_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44744 entries, 0 to 44743
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Пол, возраст                     44744 non-null  object
 1   ЗП                               44744 non-null  object
 2   Ищет работу на должность:        44744 non-null  object
 3   Город, переезд, командировки     44744 non-null  object
 4   Занятость                        44744 non-null  object
 5   График                           44744 non-null  object
 6   Опыт работы                      44576 non-null  object
 7   Последнее/нынешнее место работы  44743 non-null  object
 8   Последняя/нынешняя должность     44742 non-null  object
 9   Образование и ВУЗ                44744 non-null  object
 10  Обновление резюме                44744 non-null  object
 11  Авто                             44744 non-null  object
dtypes: object(12)
memory usage: 4.1+ MB

In [5]:
hh_data.isnull()

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
44739,False,False,False,False,False,False,False,False,False,False,False,False
44740,False,False,False,False,False,False,False,False,False,False,False,False
44741,False,False,False,False,False,False,False,False,False,False,False,False
44742,False,False,False,False,False,False,False,False,False,False,False,False
44743,False,False,False,False,False,False,False,False,False,False,False,False

In [6]:
hh_data.head(1)

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
0,"Мужчина , 39 лет , родился 27 ноября 1979",29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,Неоконченное высшее образование 2000 Балтийск...,16.04.2019 15:59,Имеется собственный автомобиль

In [7]:

# Функция заменят в столбце Образование и ВУЗ, значение на ТОЛЬКО ОБРАЗОВАНИЕ, и создает новый столбец со значениями.


def get_education(level):
  
  education = ['Высшее', 'Неоконченное высшее', 'Среднее специальное', 'Среднее'] # Создаем список с уровнем образования
  education_new = ' '.join(level.split(' ')[:3]) # разбиваем значение признака "Образование и ВУЗ" на список слов
  
  if 'Высшее' in education_new:
    return education[0]
  elif 'Неоконченное высшее' in education_new:
    return education[1]
  elif 'специальное' in education_new:
    return education[2]
  elif 'Среднее' in education_new:
    return education[3]
  
  


# Функция выделяет из столбца "пол, возраст", возраст соискателя.
def gender (arg):
  if 'Мужчина'in arg:
    return 'М'
  else:
    return 'Ж'
  
  
  
def Age(arg):
    arg_splitted = arg.split(' ')
    year=['год', 'года', 'лет']
    for index, item in enumerate (arg_splitted):
        if item in year:
            return int(arg_splitted[index-1])
          
hh_data['Образование'] = hh_data['Образование и ВУЗ'].apply(get_education) # Новый стобец "Образование"
print(hh_data['Образование'].value_counts()) # Узнаем ответ на вопрос "Сколько соискателей имеет средний уровень образования (школьное образование)?"
hh_data['Возраст'] = hh_data['Пол, возраст'].apply(Age)
hh_data['Пол'] =  hh_data['Пол, возраст'].apply(gender)
hh_data = hh_data.drop('Образование и ВУЗ', axis= 1) # Удаляем столбец 'Образование и ВУЗ'
hh_data = hh_data.drop('Пол, возраст', axis= 1)
mean_age = (round(hh_data['Возраст'].mean(), 1))
woman = (round(hh_data['Пол'].value_counts(normalize=True)['Ж'] * 100, 2))
print(f'Сколько процентов женских резюме представлено в наших данных? Ответ округлите до сотых. Ответ: {woman}')
print(f'Чему равен средний возраст соискателей? Ответ округлите до десятых. Ответ {mean_age}')
hh_data.head()

# 3.2
#hh_data[]

Высшее                 33863
Среднее специальное     5765
Неоконченное высшее     4557
Среднее                  559
Name: Образование, dtype: int64
Сколько процентов женских резюме представлено в наших данных? Ответ округлите до сотых. Ответ: 19.07
Чему равен средний возраст соискателей? Ответ округлите до десятых. Ответ 32.2

,ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Возраст,Пол
0,29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,Неоконченное высшее,39,М
1,40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 08:42,Не указано,Высшее,60,М
2,20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,16.04.2019 08:35,Не указано,Среднее специальное,36,Ж
3,100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,08.04.2019 14:23,Не указано,Высшее,38,М
4,140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,22.04.2019 10:32,Не указано,Высшее,26,Ж

In [8]:
#hh_data['Опыт работы'].unique()

In [9]:
def get_exp(arg):
    month_words = ['месяц', 'месяца', 'месяцев']
    year_words = ['год', 'года', 'лет']
    m_count = 0
    y_count = 0
    if arg is np.NaN:
        return np.NaN
    if arg == 'Не указано':
        return np.NaN
    sep_arg = list(arg.split())
    for i in range(6):
        if sep_arg[i] in year_words:
            y_count = int(sep_arg[i-1])
        elif sep_arg[i] in month_words:
            m_count = int(sep_arg[i-1])
            return int(y_count*12+m_count)
        
hh_data['Опыт работы (месяц)'] = hh_data['Опыт работы'].apply(get_exp)
hh_data=hh_data.drop('Опыт работы', axis=1)
month_median = hh_data['Опыт работы (месяц)'].median()
print(f'Чему равен медианный опыт работы (в месяцах) в нашей таблице? Ответ : {month_median}')

Чему равен медианный опыт работы (в месяцах) в нашей таблице? Ответ : 100.0

In [10]:
hh_data.head(3)

,ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Возраст,Пол,Опыт работы (месяц)
0,29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...","МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,Неоконченное высшее,39,М,202.0
1,40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 08:42,Не указано,Высшее,60,М,233.0
2,20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,ПАО Сбербанк,Кассир-операционист,16.04.2019 08:35,Не указано,Среднее специальное,36,Ж,123.0

In [11]:
hh_data['Город, переезд, командировки']

0        Советск (Калининградская область) , не готов к...
1        Королев , не готов к переезду , готов к редким...
2        Тверь , не готова к переезду , не готова к ком...
3        Саратов , не готов к переезду , готов к редким...
4        Москва , не готова к переезду , готова к коман...
                               ...
44739    Тверь , готов к переезду (Москва, Химки) , гот...
44740    Липецк , готов к переезду , готов к командировкам
44741    Челябинск , готова к переезду , готова к редки...
44742    Тамбов , не готов к переезду , не готов к кома...
44743    Москва , не готов к переезду , не готов к кома...
Name: Город, переезд, командировки, Length: 44744, dtype: object

In [12]:
# Создаем признак "Город"
def city(arg):
    
    million_cities = ['Новосибирск', 'Екатеринбург','Нижний Новгород','Казань', 'Челябинск','Омск', 'Самара', 'Ростов-на-Дону', 'Уфа', 'Красноярск', 'Пермь', 'Воронеж','Волгоград']
    if('Москва' in arg):
      return 'Москва'
    if('Санкт-Петербург' in arg):
      return 'Санкт-Петербург'
    for sity in million_cities:
      if (sity in arg):
        return 'город-миллионник'
    else:
      return 'другие'
          
hh_data['Город'] = hh_data['Город, переезд, командировки'].apply(city)
hh_data.head()

# def change(arg):
#   if ('командировка' in arg):
#         if ('не готов к командировкам' in arg) or ('не готова к командировкам' in arg):          
#            return False
#         else:
#           return True
#   else:
#      return False
  
  
# def get_ready_for_bisiness_trips(arg):
#     if ('командировка' in arg):
#         if ('не готов к командировкам' in arg) or ('не готова к командировкам' in arg):
#             return False
#         else:

#             return True
#     else:
#         return False

,ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Возраст,Пол,Опыт работы (месяц),Город
0,29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...","МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,Неоконченное высшее,39,М,202.0,другие
1,40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 08:42,Не указано,Высшее,60,М,233.0,другие
2,20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,ПАО Сбербанк,Кассир-операционист,16.04.2019 08:35,Не указано,Среднее специальное,36,Ж,123.0,другие
3,100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",OpenSoft,Инженер-программист,08.04.2019 14:23,Не указано,Высшее,38,М,225.0,другие
4,140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Мармелад,Менеджер по продажам,22.04.2019 10:32,Не указано,Высшее,26,Ж,67.0,Москва

In [13]:
def business(arg):# в итоге поменять местами столбы!!
  if ('командировка' in arg):
        if ('не готов к командировкам' in arg) or ('не готова к командировкам' in arg):          
           return False
        else:
          return True
  else:
     return False


hh_data['Готовность к командировкам'] = hh_data['Город, переезд, командировки'].apply(business)
hh_data.head()

,ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Возраст,Пол,Опыт работы (месяц),Город,Готовность к командировкам
0,29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...","МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,Неоконченное высшее,39,М,202.0,другие,False
1,40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 08:42,Не указано,Высшее,60,М,233.0,другие,True
2,20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,ПАО Сбербанк,Кассир-операционист,16.04.2019 08:35,Не указано,Среднее специальное,36,Ж,123.0,другие,False
3,100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",OpenSoft,Инженер-программист,08.04.2019 14:23,Не указано,Высшее,38,М,225.0,другие,True
4,140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Мармелад,Менеджер по продажам,22.04.2019 10:32,Не указано,Высшее,26,Ж,67.0,Москва,True

In [14]:
# Готовность к переезду
def relocation(arg):
    if('не готов' in arg) or ('не готова' in arg):
        return False
    else:
        return True

hh_data['Готовность к переезду'] = hh_data['Город, переезд, командировки'].apply(relocation)
hh_data.head(5)

,ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Возраст,Пол,Опыт работы (месяц),Город,Готовность к командировкам,Готовность к переезду
0,29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...","МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,Неоконченное высшее,39,М,202.0,другие,False,False
1,40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 08:42,Не указано,Высшее,60,М,233.0,другие,True,False
2,20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,ПАО Сбербанк,Кассир-операционист,16.04.2019 08:35,Не указано,Среднее специальное,36,Ж,123.0,другие,False,False
3,100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",OpenSoft,Инженер-программист,08.04.2019 14:23,Не указано,Высшее,38,М,225.0,другие,True,False
4,140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Мармелад,Менеджер по продажам,22.04.2019 10:32,Не указано,Высшее,26,Ж,67.0,Москва,True,False

In [15]:
hh_data.columns

Index(['ЗП', 'Ищет работу на должность:', 'Город, переезд, командировки',
       'Занятость', 'График', 'Последнее/нынешнее место работы',
       'Последняя/нынешняя должность', 'Обновление резюме', 'Авто',
       'Образование', 'Возраст', 'Пол', 'Опыт работы (месяц)', 'Город',
       'Готовность к командировкам', 'Готовность к переезду'],
      dtype='object')

In [16]:

mask3_41 = round(hh_data['Город'].value_counts(normalize=True)['Санкт-Петербург'] * 100)
mask3_41

11

In [17]:
mask3_42 = hh_data[(hh_data['Готовность к переезду'] == True) & (hh_data['Готовность к командировкам'] == True)].shape[0]
interest = mask3_42 / hh_data.shape[0] * 100
interest

31.86572501340962

In [18]:
print(round(hh_data[
    hh_data['Готовность к переезду'] & hh_data['Готовность к командировкам']
].shape[0] / hh_data.shape[0] *100))

32

In [19]:
hh_data.head(1)

,ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Возраст,Пол,Опыт работы (месяц),Город,Готовность к командировкам,Готовность к переезду
0,29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...","МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,Неоконченное высшее,39,М,202.0,другие,False,False

In [20]:
employments = ['полная занятость', 'частичная занятость',
              'проектная работа', 'волонтерство', 'стажировка']
charts = ['полный день', 'сменный график', 
         'гибкий график', 'удаленная работа',
         'вахтовый метод']
for employment, chart in zip(employments, charts):
    hh_data[employment] = hh_data['Занятость'].apply(lambda x: employment in x)
    hh_data[chart] = hh_data['График'].apply(lambda x: chart in x)
hh_data = hh_data.drop('Занятость', axis=1)
hh_data = hh_data.drop('График', axis=1)
print(hh_data[hh_data['проектная работа'] & hh_data['волонтерство']].shape[0])
print(hh_data[hh_data['вахтовый метод'] & hh_data['гибкий график']].shape[0])
hh_data.head()

436
2311

,ЗП,Ищет работу на должность:,"Город, переезд, командировки",Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Возраст,Пол,...,полная занятость,полный день,частичная занятость,сменный график,проектная работа,гибкий график,волонтерство,удаленная работа,стажировка,вахтовый метод
0,29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,Неоконченное высшее,39,М,...,True,True,True,True,True,True,False,True,False,True
1,40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...",Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 08:42,Не указано,Высшее,60,М,...,True,True,True,True,True,True,False,True,False,False
2,20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",ПАО Сбербанк,Кассир-операционист,16.04.2019 08:35,Не указано,Среднее специальное,36,Ж,...,True,True,False,False,False,False,False,False,False,False
3,100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...",OpenSoft,Инженер-программист,08.04.2019 14:23,Не указано,Высшее,38,М,...,True,False,True,False,True,True,False,True,False,False
4,140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",Мармелад,Менеджер по продажам,22.04.2019 10:32,Не указано,Высшее,26,Ж,...,True,True,False,False,False,False,False,False,False,False

In [49]:
# Функция разделяет строку по пробелу, [0] индекс, по счету первый, возвращает в виде числа с плавающей точкой.
def get_salary_num(arg):
    salary = float(arg.split(' ')[0])
    return salary
# Функция переводит наименование валюты в стандарт ISO.
def get_salary_currency(arg):
    currency_dict = {
        'USD' : 'USD', 'KZT' : 'KZT',
        'грн': 'UAH', 'белруб' : 'BYN',
        'EUR' : 'EUR' , 'KGS' : 'KGS',
        'сум' : 'UZS', 'AZN' : 'AZN',
        'руб' : 'RUB'
    }
    curr = arg.split(' ')[1].replace('.', '')
    return currency_dict[curr]
    
rates = pd.read_csv('data/ExchangeRates.csv')
rates['date'] = pd.to_datetime(rates['date']).dt.date # Переводим признак дата из таблицы курсов в формат datetime и достаем из нее дату 
hh_data['Обновление резюме'] = pd.to_datetime(hh_data['Обновление резюме']).dt.date # Переводим признак «Обновление резюме» из таблицы с резюме в формат datetime и достаем из нее дату
hh_data['ЗП (tmp)'] = hh_data['ЗП'].apply(get_salary_num)
hh_data['Курс (tmp)'] = hh_data['ЗП'].apply(get_salary_currency)

merged = hh_data.merge( # Соединяем две таблицы
    rates, 
    left_on=['Курс (tmp)', 'Обновление резюме'], 
    right_on=['currency', 'date'], 
    how='left'
)
merged['close'] = merged['close'].fillna(1) # Заменяем все NaN на значение 1. В нашем случае NaN это курс рубля.
merged['proportion'] = merged['proportion'].fillna(1)

hh_data['ЗП (руб)'] = merged['close'] * merged['ЗП (tmp)'] / merged['proportion'] # Вычесляем курс в рублях
salary = hh_data['ЗП (руб)'].median()
print(f'Чему равна желаемая медианная заработная плата соискателей в нашей таблице (в рублях)? ответ : {salary}') 
hh_data = hh_data.drop(columns=['ЗП', 'ЗП (tmp)', 'Курс (tmp)'], axis=1)

In [55]:
hh_data = hh_data.drop(columns=['ЗП', 'ЗП (tmp)', 'Курс (tmp)'], axis=1)
# hh_data = hh_data.drop('ЗП', 'ЗП (tmp)', 'Курс (tmp)', axis=1)
# hh_data = hh_data.drop('ЗП', 'ЗП (tmp)', 'Курс (tmp)', axis=1)
hh_data.head(1)

,Ищет работу на должность:,"Город, переезд, командировки",Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Возраст,Пол,Опыт работы (месяц),...,полный день,частичная занятость,сменный график,проектная работа,гибкий график,волонтерство,удаленная работа,стажировка,вахтовый метод,ЗП (руб)
0,Системный администратор,"Советск (Калининградская область) , не готов к...","МАОУ ""СОШ № 1 г.Немана""",Системный администратор,2019-04-16,Имеется собственный автомобиль,Неоконченное высшее,39,М,202.0,...,True,True,True,True,True,False,True,False,True,29000.0

In [53]:
hh_data.head(1)
# mask

,ЗП,Ищет работу на должность:,"Город, переезд, командировки",Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Возраст,Пол,...,сменный график,проектная работа,гибкий график,волонтерство,удаленная работа,стажировка,вахтовый метод,ЗП (tmp),Курс (tmp),ЗП (руб)
0,29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","МАОУ ""СОШ № 1 г.Немана""",Системный администратор,2019-04-16,Имеется собственный автомобиль,Неоконченное высшее,39,М,...,True,True,True,False,True,False,True,29000.0,RUB,29000.0

In [23]:
rates['currency'].value_counts()

USD    708
EUR    708
KZT    708
KGS    708
BYN    708
UAH    708
UZS    708
AZN    708
Name: currency, dtype: int64